*{
  margin: 0 !important;
}
body{
  background-image: url(./MarvelBackgroundimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}